<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875782198058-9akeslgvjr1jkg9fdbtjqjrcjrflorb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875782198058-9akeslgvjr1jkg9fdbtjqjrcjrflorb1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875782198058-vn9le6vvge0qc8sem42sa96jg860pfdo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTCWfLihczPfierCJbnGAoRFsZxWcTGhU</string>
	<key>GCM_SENDER_ID</key>
	<string>875782198058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverApp</string>
	<key>PROJECT_ID</key>
	<string>driver-app-ead96</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-app-ead96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875782198058:ios:371978dc773969fa870453</string>
</dict>
</plist>